.vocabulary-home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vocabulary-header {
  height: 10%;
  display: flex;
  padding: 5px 0 10px 0;
}

.home-button-section {
  flex: 0 0 5%;
  display: flex;
  justify-content: center;
}

.selection-section {
  flex-grow: 1;
  display: flex;
  gap: 5px
}

.add-word-section,
.list-section {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 5px;
  border: black solid 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-word-section:hover,
.list-section:hover {
  background-color: #cccccc;
}

.router-outlet-container {
  height: 75%;
}

span {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 821px) {

  .vocabulary-header {
    display: flex;
    justify-content: start;
  }

  .selection-section {
    flex-direction: column;
    align-items: center;
    gap: 10px
  }

  .add-word-section,
  .list-section {
    width: 20%;
    align-items: center;
  }

}
