<div class="bookings-container">
  <div class="monthly-sections">

    @for (booking of bookings?.bookingsPerMonth; track $index) {
      <div class="monthly-section">
        <div class="month-header">
          <h2 class="month-title">{{ booking.year }}-{{ booking.month }}</h2>
          <div class="financial-summary"
               [ngClass]="getEarningsDifference(booking) >= 0 ? 'positive' : 'negative'">
            <div class="financial-item">
              <span class="financial-label">Ausgaben</span>
              <span class="financial-value">{{ getTotalAmount(booking) | number: '.2' : 'de' }}</span>
            </div>
            <div class="financial-item">
              <span class="financial-label">Einnahmen</span>
              <span class="financial-value">{{ getIncomeAmount(booking) | number: '.2' : 'de' }}</span>
            </div>
            <div class="financial-item">
              <span class="financial-label">Differenz</span>
              <span class="financial-value">{{ getEarningsDifference(booking) | number: '.2' : 'de' }}</span>
              @if (getEarningsDifference(booking) < 0) {
                <span class="financial-warning">Die Ausgaben sind höher als die Einnahmen!</span>
              }
            </div>
          </div>
        </div>

        <div class="month-content">
          <div class="table-column">
            <div class="table-container">
              <app-table title="Generelle Buchungen" [bookings]="booking.usualBookings"
                         (itemRemoved)="onItemRemoved($event, booking)"></app-table>
            </div>
          </div>

          <div class="table-column-right">
            <div class="table-container-small">
              <app-table title="Täglicher Bedarf" [bookings]="booking.dailyCosts"
                           (itemRemoved)="onItemRemoved($event, booking)"></app-table>
            </div>
            <div class="table-container-large">
              <app-table title="Einkommen" [bookings]="booking.incomes"
                           (itemRemoved)="onItemRemoved($event, booking)"></app-table>
            </div>
          </div>
        </div>

      </div>
    }

  </div>
</div>
