<div class="h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="h-100 w-100 d-flex flex-column overflow-auto gap-5">

    @for (booking of bookings?.bookingsPerMonth; track $index) {
      <div class="d-flex flex-column justify-content-between overflow-auto"
           style="border: 1px solid black; flex: 0 0 100%">
        <div class="row m-0" style="height: 10%">
          <div class="d-flex flex-column align-items-center">
            <h2>{{ booking.year }}-{{ booking.month }}</h2>
            <span
              [ngClass]="areExpensesHigherThanIncome(booking) ? 'bg-danger' : 'bg-info-subtle'"
            >Gesamtausgaben: {{ getTotalAmount(booking) | number: '.2' : 'de' }}
              @if (areExpensesHigherThanIncome(booking)) {
                (Die Ausgaben sind höher als die Einnahmen!)
              }
            </span>
          </div>
        </div>

        <div class="row m-0 p-2" style="height: 90%">
          <div class="col h-100">
            <app-table title="Generelle Buchungen" [bookings]="booking.usualBookings"></app-table>
          </div>

          <div class="col h-100 d-flex flex-column gap-2">
            <div class="overflow-auto" style="max-height: 70%">
              <app-table title="Täglicher Bedarf" [bookings]="booking.dailyCosts"></app-table>
            </div>
            <div class="overflow-auto flex-grow-1">
              <app-table title="Einkommen" [bookings]="booking.incomes"></app-table>
            </div>
          </div>
        </div>

      </div>
    }

  </div>
</div>
