.plant-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.plant-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex: 1 0 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.plant-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
  .plant-card {
    width: 90%;
  }
}
