mat-horizontal-stepper {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: .5rem;
  padding: 2% 10% 0 10%;
}

.mat-mdc-form-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.mat-mdc-form-field:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.care-info,
.basic-info {
  width: 75%;
}

@media (max-width: 480px) {
  .care-info,
  .basic-info {
    width: 100%;
  }
}
