export const environment = {
  production: ###production###,
  apiUrl: ###apiUrl###,
  buildTime: ###buildTime###,
  nodeVersion: ###nodeVersion###,
  angularVersion: ###angularVersion###,
  npmVersion: ###npmVersion###
};
