<div class="topbar">
  <div class="topbar__left">
    <button class="topbar__btn" [routerLink]="homeLink">
      <mat-icon>home</mat-icon>
    </button>
    <button class="topbar__btn" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/mental-arithmetic/session">
        <span>Start Training</span>
      </button>
      <button mat-menu-item routerLink="/mental-arithmetic/settings">
        <span>Settings</span>
      </button>
      <button mat-menu-item routerLink="/mental-arithmetic/arithmetic-list">
        <span>History</span>
      </button>
      <button mat-menu-item routerLink="/mental-arithmetic">
        <span>Home</span>
      </button>
    </mat-menu>
  </div>
  <span class="topbar__icon">⬡</span>
  <span class="topbar__title">Mental Arithmetic</span>
</div>
<div class="layout">
  <router-outlet></router-outlet>
</div>
