h2 {
  margin: 0;
}

mat-label {
  font-weight: bold;
}

mat-select,
input,
span {
  padding: 6px;
}

textarea {
  resize: none;
}

.header-row {
  max-height: 10%;
}

.data-row {
  max-height: 90%;
}

.meta {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.plant-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.data-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description-container,
.care-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text-container {
  flex: 1 0 0;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.care-instruction,
.description {
  text-align: left;
  white-space: pre-wrap;
}

.last-watered-edit {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.img {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-height: 100%;
}

.save-button {
  margin-right: 4px;
}
