<div class="h-100 d-flex flex-column border border-secondary bg-dark text-light">
  <div class="d-flex justify-content-between align-items-center bg-secondary p-2">
    <h4 class="m-0 text-light">{{ title || 'n/a' }}</h4>
    <button mat-mini-fab (click)="toggleSort()"
            matTooltip="Sortierung umschalten ({{ sortDirection === 'desc' ? 'Höchste zuerst' : 'Niedrigste zuerst' }}"
            class="mat-dark">
      <mat-icon>{{ sortDirection === 'desc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
    </button>
  </div>
  <div class="table-header-separator"></div>
  <div class="flex-grow-1 overflow-auto px-2">
    <table mat-table [dataSource]="getSortedBookings() || []" class="text-light">

      <ng-container matColumnDef="creditName">
        <th mat-header-cell *matHeaderCellDef class="text-light">An</th>
        <td mat-cell *matCellDef="let element">{{ element.creditName }}</td>
      </ng-container>

      <ng-container matColumnDef="additionalInfo">
        <th mat-header-cell *matHeaderCellDef class="text-light">Buchungstext</th>
        <td mat-cell *matCellDef="let element">{{ element.additionalInfo }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-light">Betrag</th>
        <td mat-cell *matCellDef="let element">{{ element.amount | number: '.2' : 'de' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-light"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn" (click)="removeItem(element)"
                  matTooltip="Entfernen">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="border-top border-secondary bg-secondary mx-2 my-3 p-2">
    <strong class="text-light">Summe: {{ getTotalAmount() | number: '.2' : 'de' }}</strong>
  </div>

</div>
