<mat-dialog-content class="flex-grow-1 d-flex flex-column justify-content-center align-items-center gap-2">
  @for (deck of decks(); track deck.id) {
    <div class="deck-row">
      <span class="deck-row__id">{{ deck.id }}</span>
      <span class="deck-row__name">{{ deck.name }}</span>
      <button mat-icon-button class="icon-btn icon-btn--yellow" (click)="openDialog(deck)">
        <mat-icon>build</mat-icon>
      </button>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton cdkFocusInitial [mat-dialog-close]="deck()">Ok</button>
</mat-dialog-actions>
