.plant-root-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.plant-root-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px;
  height: 10%;
}

.plant-root-header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.plant-root-image {
  background-image: url('../../../../public/roomplants.jpg');
  background-size: cover;
  background-position: center;
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
}

.plant-root-container {
  height: 80%;
}
