.plant-root-header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.plant-root-image {
  background-image: url('../../../../public/roomplants.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.header-row {
  height: 10%;
}

.image-row {
  height: 20%;
}

.data-row {
  height: 70%;
}

.mat-mdc-menu-content {
  display: flex;
  flex-direction: column;
}
