<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
  <div class="row w-100 h-100 overflow-auto d-flex justify-content-center">
    <div *ngFor="let plant of plants()" class="col-sm-12 col-md-6 col-xl-4 h-100 p-2">
      <mat-card appearance="outlined" class="h-100">
        <mat-card-header>
          <mat-card-title routerLink="/plant-root/plant/{{plant.id}}" class="plant-link">{{ plant.name }}
          </mat-card-title>
          <mat-card-subtitle>{{ plant.species }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="getImageUrl(plant)" alt="{{ plant.name }}">
        <mat-card-content class="h-100 d-flex flex-column justify-content-center">
          <div class="d-flex flex-row flex-md-column overflow-auto">
            <div class="info-card p-2">
              <mat-card appearance="outlined" class="d-flex flex-column align-items-center">
                <mat-card-header class="sub-header">
                  <mat-card-title class="fs-5">Last watered</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pb-sm-0 pb-md-2">
                  {{ plant.lastWateredDate }}
                </mat-card-content>
              </mat-card>
            </div>
            <div class="info-card p-2">
              <mat-card appearance="outlined" class="d-flex flex-column align-items-center">
                <mat-card-header class="sub-header">
                  <mat-card-title class="fs-5">Next watered</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pb-sm-0 pb-md-2">
                  {{ (plant?.nextWateredDate) ?? 'n/a' }}
                </mat-card-content>
              </mat-card>
            </div>
            <div class="info-card p-2">
              <mat-card appearance="outlined" class="d-flex flex-column align-items-center">
                <mat-card-header class="sub-header">
                  <mat-card-title class="fs-5">Location</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pb-sm-0 pb-md-2">
                  {{ plant.location }}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center py-sm-0 py-md-2">
          <button mat-button (click)="setWateredNow(plant)">Watered</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
