<div class="more-list">
  <a class="grocery-card more-list__item" routerLink="/grocery/articles">
    <mat-icon class="more-list__icon">category</mat-icon>
    <div class="more-list__text">
      <span class="more-list__title">Artikel-Gruppen</span>
      <span class="grocery-text-muted more-list__sub">Artikel zu Gruppen zuordnen</span>
    </div>
    <mat-icon class="more-list__chevron">chevron_right</mat-icon>
  </a>

  <a class="grocery-card more-list__item" routerLink="/grocery/categories">
    <mat-icon class="more-list__icon">label</mat-icon>
    <div class="more-list__text">
      <span class="more-list__title">Kategorien</span>
      <span class="grocery-text-muted more-list__sub">Kategorien verwalten &amp; löschen</span>
    </div>
    <mat-icon class="more-list__chevron">chevron_right</mat-icon>
  </a>
</div>
