h2 {
  margin: 0;
}

mat-label {
  font-weight: bold;
}

mat-select,
input,
span {
  padding: 6px;
}

textarea {
  resize: none;
}

.meta {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.plant-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.description-care-container {
  flex: 1 0 0;
  overflow: auto;
}

.description-care-container-edit {
  flex: 1 0 0;
}

.description-container,
.care-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 0 5px 0;
  flex: 1 0 auto;
}

.text-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  flex: 1 0 0;
}

.care-instruction,
.description {
  text-align: left;
  white-space: pre-wrap;
}

.last-watered-edit {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.img-container {
  overflow: auto;
  flex: 1 1 0;
}

.img {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex: 1 1 auto;
}

.save-button {
  margin-right: 4px;
}

@media (max-width: 480px) {
  .description-care-container {
    flex: 1 0 auto;
  }

  .img-container {
    overflow: auto;
    flex: 1 1 auto;
  }

  .text-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    flex: 1 0 auto;
  }
}
