.mat-mdc-card-image {
  height: 35%;
  border-radius: 10px;
  margin: 5px;
}

.sub-header {
  padding-top: 1px;
}

.plant-link {
  cursor: pointer;
}

.plant-link:hover {
  text-decoration: underline;
}

.info-card {
  scroll-snap-align: start;
}

@media (max-width: 480px) {
  .info-card {
    flex: 0 0 100%;
  }
}
