<div class="container-fluid h-100 d-flex flex-column bg-dark text-light">

  <div class="h-10">
    <div class="d-flex justify-content-center">
      <h1 class="text-light">Auswertung der Kontoauszüge</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2 align-items-center">
        <input type="file" class="form-control bg-secondary text-light border-secondary" (change)="onFileSelected($event)" style="width: auto;"/>
        <button mat-fab-mini (click)="uploadFile()" matTooltip="Upload File">
          <mat-icon>upload</mat-icon>
        </button>
      </div>
      <div>
        <button mat-fab-mini (click)="backupCostData()" matTooltip="Backup Cost Data">
          <mat-icon>backup</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="h-90">
    <app-bookings [bookings]="responseData"></app-bookings>
  </div>
</div>
