.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: rgba(63, 81, 181, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

.mat-column-deck,
.mat-column-ankiId {
  width: 10%;
}

.mat-column-front,
.mat-column-back {
  width: 15%;
}
