.plant-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.plant-card {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.plant-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
