<div class="container plant-card-container h-100 w-100 d-flex flex-column">
  <div class="row w-100 d-flex justify-content-evenly">
    <div class="col-3 plant-card" routerLink="/plant-root/plant-overview">
      <h2>Show</h2>
      <p>Show the plants!</p>
    </div>
  </div>
  <div class="row w-100 d-flex justify-content-evenly">
    <div class="col-3 plant-card" routerLink="/plant-root/plant-list">
      <h2>Edit</h2>
      <p>List and edit the plants!</p>
    </div>
    <div class="col-3 plant-card" routerLink="/plant-root/plant-form">
      <h2>Create</h2>
      <p>Create a plant!</p>
    </div>
  </div>
</div>
